{% extends "base.html" %}
{% block content %}
<p>
You can earn "OSSPoints" various ways, and earn a different number of points for
each way:
</p>
<div>
  <table align="center" border="1" bordercolor="#888" cellspacing="0">
    <tbody> 
      <tr> 
        <td> Participating in the speakers
          drive</td> 
        <td> <a
            href="https://sites.google.com/a/google.com/opensource-syd/speaker-drive">See
            page.</a> (2-15)</td> 
      </tr> 
      <tr> 
        <td> Hosting a user group meeting</td> 
        <td> 15</td> 
      </tr> 
      <tr> 
        <td> Being "door patsy" at user group
          meetings</td> 
        <td> 7</td> 
      </tr><tr><td> Attending a user group meeting</td><td> 2 </td></tr> 
      <tr> 
        <td> Doing a /thirdparty/ code
          review</td> 
        <td> 10</td> 
      </tr> 
      <tr> 
        <td> Open-sourcing a piece of code</td> 
        <td> 5 (small &lt; 100)<br /> 20 (medium
          &lt; 5000)<br /> 40 (large &gt; 5000)</td> 
      </tr> 
    </tbody> 
  </table>
<br>
<p>
At any point, you may redeem those points for a range of trinkets and prizes:
</p>
<div> 
  <table border="1" bordercolor="#888" cellspacing="0" align="center">
            <tbody> 
              <tr> 
                <td style="width:277px;height:28px"> G'day notebook</td> 
                <td style="width:48px;height:28px"> 10</td> 
                <td style="width:60px"><br /> 
                  <a
                    href="http://www.google.com/url?q=http%3A%2F%2Fwww.flickr.com%2Fphotos%2F88757125%40N00%2F3903264550%2F&amp;sa=D&amp;sntz=1&amp;usg=AFrqEzdH1ycAAse1cw04Xe1iVQ7Gg8alNA"
                    imageanchor="1"><img border="0"
                    src="http://farm3.static.flickr.com/2667/3903264550_564a6f11c3_s.jpg"
                    style="display:block;margin-right:auto;margin-left:auto;text-align:center"
                    /></a></td> 
              </tr> 
              <tr> 
                <td style="width:277px;height:15px"> Google pen</td> 
                <td style="width:48px;height:15px"> 10 </td> 
                <td style="width:60px"><a
                    href="http://www.google.com/url?q=http%3A%2F%2Fwww.flickr.com%2Fphotos%2F88757125%40N00%2F3902485747%2F&amp;sa=D&amp;sntz=1&amp;usg=AFrqEzfLET_L3XrYlbLUS6pBmQDZRraseA"
                    imageanchor="1"><img border="0"
                    src="http://farm4.static.flickr.com/3484/3902485747_e44e007164_s.jpg"
                    style="display:block;margin-right:auto;margin-left:auto;text-align:center"
                    /></a></td> 
              </tr> 
              <tr> 
                <td style="width:277px;height:15px"> CODE sticker</td> 
                <td style="width:48px;height:15px"> 5</td> 
                <td style="width:60px"><a
                    href="http://www.google.com/url?q=http%3A%2F%2Fwww.flickr.com%2Fphotos%2F88757125%40N00%2F3903262124%2F&amp;sa=D&amp;sntz=1&amp;usg=AFrqEzd6TXBaEgeODj2cXGU7Vkwee7D1AA"
                    imageanchor="1"><img border="0"
                    src="http://farm3.static.flickr.com/2596/3903262124_509bd0b292_s.jpg"
                    style="display:block;margin-right:auto;margin-left:auto;text-align:center"
                    /></a></td> 
              </tr> 
              <tr> 
                <td style="width:277px;height:15px"> Summer of Code sticker</td> 
                <td style="width:48px;height:15px"> 5</td> 
                <td style="width:60px"><a
                    href="http://www.google.com/url?q=http%3A%2F%2Fwww.flickr.com%2Fphotos%2F88757125%40N00%2F3902483043%2F&amp;sa=D&amp;sntz=1&amp;usg=AFrqEzf0yIsg95gFVWUdkxjlbT3eJ1oORg"
                    imageanchor="1"><img border="0"
                    src="http://farm3.static.flickr.com/2579/3902483043_cffdd2602b_s.jpg"
                    style="display:block;margin-right:auto;margin-left:auto;text-align:center"
                    /></a></td> 
              </tr> 
              <tr> 
                <td style="width:277px;height:15px"> Data center sticker</td> 
                <td style="width:48px;height:15px"> 7</td> 
                <td style="width:60px"> 
                  <div
                    style="display:block;margin-right:auto;margin-left:auto;text-align:center"><a
                      href="http://www.google.com/url?q=http%3A%2F%2Fwww.flickr.com%2Fphotos%2F88757125%40N00%2F3903261050%2F&amp;sa=D&amp;sntz=1&amp;usg=AFrqEzem747xwVRxMHZpWmaIx0malAOjdQ"
                      imageanchor="1"><img border="0"
                      src="http://farm3.static.flickr.com/2495/3903261050_e2c9fe904b_t.jpg"
                      /></a></div> 
                </td> 
              </tr> 
              <tr> 
                <td style="width:277px;height:15px"> Google cricket ball</td> 
                <td style="width:48px;height:15px"> 15</td> 
                <td style="width:60px"> <a
                    href="http://www.google.com/url?q=http%3A%2F%2Fwww.flickr.com%2Fphotos%2F88757125%40N00%2F3902488729%2F&amp;sa=D&amp;sntz=1&amp;usg=AFrqEzcl2sgggaohYrQq4Owv3N29KwhBNA"
                    imageanchor="1"><img border="0"
                    src="http://farm3.static.flickr.com/2666/3902488729_5253df2b4a_s.jpg"
                    style="display:block;margin-right:auto;margin-left:auto;text-align:center"
                    /></a></td> 
              </tr> 
              <tr> 
                <td style="width:277px;height:15px"> Google USB drive</td> 
                <td style="width:48px;height:15px"> 15</td> 
                <td style="width:60px"> 
                  <div
                    style="display:block;margin-right:auto;margin-left:auto;text-align:center"><a
                      href="http://www.google.com/url?q=http%3A%2F%2Fwww.flickr.com%2Fphotos%2F88757125%40N00%2F3902488403%2F&amp;sa=D&amp;sntz=1&amp;usg=AFrqEzf551_kWtvDJMTPOYMpFbiWj2QWEQ"
                      imageanchor="1"><img border="0"
                      src="http://farm4.static.flickr.com/3480/3902488403_ecbdfc898d_t.jpg"
                      /></a></div> 
                </td> 
              </tr> 
              <tr> 
                <td style="width:277px;height:15px"> QR code shirt or Go Gopher
                  shirt</td> 
                <td style="width:48px;height:15px"> 30</td> 
                <td style="width:60px"> 
                  <div
                    style="display:block;margin-right:auto;margin-left:auto;text-align:center"><a
                      href="http://www.google.com/url?q=http%3A%2F%2Fwww.flickr.com%2Fphotos%2F88757125%40N00%2F3902485175%2F&amp;sa=D&amp;sntz=1&amp;usg=AFrqEzeG8DKQMSbaLIvw8pkpsKO4wbGIhg"
                      imageanchor="1"><img border="0"
                      src="http://farm3.static.flickr.com/2621/3902485175_c632212c3e_t.jpg"
                      /></a></div> 
                </td> 
              </tr> 
              <tr> 
                <td style="width:277px;height:15px"> Google open source
                  shirt</td> 
                <td style="width:48px;height:15px"> 30</td> 
                <td style="width:60px"> 
                  <div
                    style="display:block;margin-right:auto;margin-left:auto;text-align:center"><a
                      href="http://www.google.com/url?q=http%3A%2F%2Fwww.flickr.com%2Fphotos%2F88757125%40N00%2F3903262428%2F&amp;sa=D&amp;sntz=1&amp;usg=AFrqEzd3bjpi4ol-omrtR-FuqYIbBpgC_w"
                      imageanchor="1"><img border="0"
                      src="http://farm3.static.flickr.com/2485/3903262428_2e6e950d85_t.jpg"
                      /></a></div> 
                </td> 
              </tr> 
              <tr> 
                <td> Wine</td> 
                <td> 40</td> 
                <td> 
                  <div
                    style="display:block;margin-right:auto;margin-left:auto;text-align:center"><a
                      href="http://www.google.com/url?q=http%3A%2F%2Fwww.flickr.com%2Fphotos%2F88757125%40N00%2F3902484737%2F&amp;sa=D&amp;sntz=1&amp;usg=AFrqEzesZkppAZG-_QT6-5pOIkFyiF-sFQ"
                      imageanchor="1"><img border="0"
                      src="http://farm4.static.flickr.com/3521/3902484737_b441b3c8c0_t.jpg"
                      /></a></div> 
                </td> 
              </tr> 
            </tbody> 
          </table> 
        </div> 
{% endblock %}

